In [1]:
"""
Created on Tuesday 15 Dec 2020

@author: Hanlin
"""

'\nCreated on Tuesday 15 Dec 2020\n\n@author: Hanlin\n'

In [2]:
# Import all tools

from autotrader_scraper import get_cars, save_csv, save_json
import pandas as pd

In [2]:
# Trial of scraping tool

results_Audi_A5 = get_cars(
        make = "Audi",
        model = "A5",
        postcode = "CF23 8PG",
        radius = 30,
        min_year = 2019,
        max_year = 2020,
        include_writeoff = "include",
        max_attempts_per_page = 5,
        verbose = False)

In [3]:
# Glance at the raw data from the scrapper

pd.DataFrame(results_Audi_A5).head(2)

,BHP,ULEZ,body,engine,fuel,link,mileage,name,price,transmission,year
0,NaN,ULEZ,Hatchback,2.0L,Petrol,https://www.autotrader.co.uk/car-details/20201...,18576,Audi A5 40 TFSI S Line 5dr S Tronic 2.0,"£23,999",Automatic,2019 (19 reg)
1,148.0,ULEZ,Hatchback,2.0L,Petrol,https://www.autotrader.co.uk/car-details/20201...,2021,Audi A5 2L Black Edition TFSI 5dr,"£27,700",Automatic,2019 (19 reg)

In [3]:
# Define the targeted make and model in a tuple list

target_model = [("Lexus","Ct 200h"),
                ("Mazda","Mazda3")
                ]

In [4]:
# Function to generate all raw data from a list of tuples of the targeted make and model

def generate_car_price(target=target_model):
    results = []
    for make, model in target:
        results_price = get_cars(make = make,
                                 model = model,
                                 postcode = "CF23 8PG",
                                 radius = 30,
                                 min_year = 2019,
                                 max_year = 2020,
                                 include_writeoff = "include",
                                 max_attempts_per_page = 5,
                                 verbose = False)
        results += results_price
    return results

In [5]:
# Scrape the data

results = generate_car_price(target_model)

In [6]:
len(results)

28

In [7]:
pd.DataFrame(results).to_csv("autorader_prices.csv", index = False)