# Exploratory Data Analysis

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("autotrader_prices.csv", parse_dates=["year"])

In [24]:
df

,BHP,ULEZ,body,engine,fuel,link,mileage,name,owners,price,transmission,year
0,108.0,ULEZ,Hatchback,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20200...,82850,Audi A3 1.6 TDI SE 5d 109 BHP Nav Prep - Bluet...,NaN,"£7,991",Manual,2015 (15 reg)
1,148.0,ULEZ,Hatchback,2.0L,Diesel,https://www.autotrader.co.uk/car-details/20201...,38627,"Audi A3 2.0 TDI SE 5d 148 BHP, £20 YEAR ROAD T...",NaN,"£10,980",Manual,2015 (65 reg)
2,108.0,ULEZ,Hatchback,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20201...,84812,Audi A3 1.6 TDI 110 Sport 5dr Satellite Naviga...,NaN,"£8,350",Manual,2015 (15 reg)
3,182.0,ULEZ,Hatchback,2.0L,Diesel,https://www.autotrader.co.uk/car-details/20200...,74413,Audi A3 2.0 TDI Sport Sportback S Tronic quatt...,NaN,"£9,699",Automatic,2015 (15 reg)
4,108.0,ULEZ,Hatchback,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20201...,59152,Audi A3 1.6 TDI SE Sportback 5dr,NaN,"£8,990",Manual,2015 (15 reg)
5,108.0,ULEZ,Hatchback,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20201...,78876,Audi A3 1.6 TDI Ultra 110 SE 5dr Bluetooth,NaN,"£8,800",Manual,2015 (65 reg)
6,108.0,ULEZ,Saloon,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20201...,55591,Audi A3 1.6 TDI S LINE 4d 109 BHP,NaN,"£12,799",Manual,2015 (15 reg)
7,108.0,ULEZ,Hatchback,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20201...,47606,Audi A3 1.6 TDI SE Sportback 5dr,NaN,"£9,490",Manual,2015 (15 reg)
8,148.0,ULEZ,Hatchback,2.0L,Diesel,https://www.autotrader.co.uk/car-details/20201...,35439,Audi A3 2.0 TDI S Line 5dr Satellite Navigation,NaN,"£14,000",Manual,2015 (15 reg)
9,148.0,ULEZ,Hatchback,1.4L,Petrol,https://www.autotrader.co.uk/car-details/20201...,54831,Audi A3 1.4 TFSI 150 S Line 3dr Bluetooth,NaN,"£11,750",Manual,2015 (65 reg)
10,108.0,ULEZ,Hatchback,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20201...,43908,Audi A3 1.6 TDI Ultra 110 SE 5dr Bluetooth,NaN,"£10,950",Manual,2015 (65 reg)
11,123.0,ULEZ,Hatchback,1.4L,Petrol,https://www.autotrader.co.uk/car-details/20201...,29706,Audi A3 S line 1.4 TFSI 125 PS S tronic 3dr,NaN,"£14,450",Automatic,2015 (15 reg)
12,148.0,ULEZ,Hatchback,1.4L,Petrol,https://www.autotrader.co.uk/car-details/20201...,26900,Audi A3 1.4 TFSI S LINE 5d 148 BHP,NaN,"£14,995",Manual,2015 (65 reg)
13,108.0,ULEZ,Hatchback,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20201...,37119,Audi A3 1.6 TDI 110 SE Technik 3dr Satellite N...,NaN,"£10,000",Manual,2015 (15 reg)
14,108.0,ULEZ,Hatchback,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20200...,31700,Audi A3 Sportback SE Technik 1.6 TDI 110 PS S ...,NaN,"£13,250",Automatic,2015 (65 reg)
15,148.0,ULEZ,Hatchback,2.0L,Diesel,https://www.autotrader.co.uk/car-details/20201...,29874,Audi A3 2.0 TDI SE Technik 5dr Satellite Navig...,NaN,"£12,250",Manual,2015 (65 reg)
16,108.0,ULEZ,Hatchback,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20201...,87700,Audi A3 1.6 TDI SE Sportback 5dr,NaN,"£6,990",Manual,2015 (15 reg)
17,148.0,ULEZ,Hatchback,2.0L,Diesel,https://www.autotrader.co.uk/car-details/20201...,71933,Audi A3 2.0 TDI SE Technik Sportback 5dr,2.0,"£8,795",Manual,2015 (15 reg)
18,124.0,ULEZ,Hatchback,1.4L,Petrol,https://www.autotrader.co.uk/car-details/20200...,36841,Audi A3 1.4 TFSI SPORT NAV 5d 124 BHP Call us ...,NaN,"£11,967",Manual,2016 (16 reg)
19,148.0,ULEZ,Hatchback,2.0L,Diesel,https://www.autotrader.co.uk/car-details/20201...,51903,"Audi A3 2.0 TDI S LINE 5d 148 BHP, HALF LEATHE...",NaN,"£14,480",Manual,2016 (66 reg)
20,NaN,ULEZ,Saloon,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20201...,55300,Audi A3 1.6 TDI Sport S Tronic (s/s) 4dr,3.0,"£12,990",Automatic,2016 (16 reg)
21,187.0,ULEZ,Hatchback,2.0L,Petrol,https://www.autotrader.co.uk/car-details/20201...,21629,Audi A3 2.0 TFSI S LINE 5d 188 BHP RAC APPROVE...,NaN,"£17,491",Manual,2016 (66 reg)
22,NaN,ULEZ,Saloon,1.4L,Petrol,https://www.autotrader.co.uk/car-details/20201...,57000,Audi A3 1.4 TFSI CoD Sport (s/s) 4dr,2.0,"£9,995",Manual,2016 (66 reg)
23,108.0,ULEZ,Hatchback,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20200...,51300,Audi A3 1.6 TDI SE TECHNIK 3d 109 BHP LOW RATE...,NaN,"£9,489",Manual,2016 (66 reg)
24,108.0,ULEZ,Hatchback,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20201...,12710,Audi A3 1.6 TDI 110 Quattro Sport 5dr Satellit...,NaN,"£15,000",Manual,2016 (65 reg)
25,148.0,ULEZ,Hatchback,1.4L,Petrol,https://www.autotrader.co.uk/car-details/20200...,29723,Audi A3 1.4 TFSI S LINE 3d 148 BHP,NaN,"£14,995",Manual,2016 (66 reg)
26,NaN,ULEZ,Hatchback,1.4L,Petrol,https://www.autotrader.co.uk/car-details/20201...,37908,Audi A3 1.4 TFSI S Line 5dr Satellite Navigation,NaN,"£15,500",Manual,2016 (66 reg)
27,108.0,ULEZ,Hatchback,1.6L,Diesel,https://www.autotrader.co.uk/car-details/20201...,71874,Audi A3 1.6 TDI 110 Sport 5dr [Nav] Bluetooth,NaN,"£9,250",Manual,2016 (65 reg)
28,NaN,ULEZ,Hatchback,1.4L,Petrol,https://www.autotrader.co.uk/car-details/20201...,42220,Audi A3 1.4 TFSI S Line 5dr Satellite Navigation,NaN,"£15,750",Manual,2016 (66 reg)
29,NaN,ULEZ,Hatchback,1.4L,Petrol,https://www.autotrader.co.uk/car-details/20200...,22924,Audi A3 1.4 TFSI S Line 5dr Satellite Navigation,NaN,"£16,500",Manual,2016 (66 reg)
...,...,...,...,...,...,...,...,...,...,...,...,...
596,NaN,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,21999,Fiat 500 1.2 8V S (s/s) 3dr,NaN,"£7,991",Manual,2017 (66 reg)
597,69.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,17767,Fiat 500 3dr Hat 1.2 69hp Lounge,NaN,"£7,990",Manual,2017 (17 reg)
598,69.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,12053,Fiat 500 1.2L Mirror 8V 3dr,NaN,"£7,425",Manual,2017 (17 reg)
599,69.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,20950,Fiat 500 1.2 Lounge 3dr,NaN,"£7,890",Manual,2018 (67 reg)
600,69.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,19399,Fiat 500 3dr Hat 1.2 69hp Anniversario,NaN,"£9,490",Manual,2018 (67 reg)
601,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,14409,Fiat 500 1.2 LOUNGE 3d 69 BHP,NaN,"£8,490",Manual,2018 (68 reg)
602,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,11218,Fiat 500 1.2 Lounge 3dr Bluetooth,NaN,"£8,500",Manual,2018 (68 reg)
603,69.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20200...,28291,Fiat 500 1.2 Lounge 3dr Bluetooth,NaN,"£8,000",Manual,2018 (18 reg)
604,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20200...,9470,Fiat 500 3dr Hat 1.2 69hp Lounge Dualogic,NaN,"£9,990",Automatic,2018 (18 reg)
605,69.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,21945,Fiat 500 1.2L Lounge 8V 3dr,NaN,"£7,525",Manual,2018 (67 reg)
606,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,4376,Fiat 500 3dr Hat 1.2 69hp Lounge Dualogic,NaN,"£10,990",Automatic,2018 (68 reg)
607,69.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,32030,Fiat 500 1.2L Lounge 8V 3dr,NaN,"£7,325",Manual,2018 (18 reg)
608,69.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,12709,Fiat 500 1.2L Lounge 8V 3dr,NaN,"£8,000",Manual,2018 (18 reg)
609,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,4927,Fiat 500 LOUNGE DUALOGIC 1.3 3dr,NaN,"£10,495",Automatic,2018 (68 reg)
610,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,30285,Fiat 500 1.2L S 8V 3dr,NaN,"£8,150",Manual,2019 (19 reg)
611,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,23268,Fiat 500 1.2L S 8V 3dr,NaN,"£8,400",Manual,2019 (19 reg)
612,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,2081,Fiat 500 1.2L Lounge 8V 3dr,NaN,"£9,250",Manual,2019 (69 reg)
613,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,15076,Fiat 500 1.2L S 8V 3dr,NaN,"£8,675",Manual,2019 (19 reg)
614,NaN,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,983,Fiat 500 1.2 8V Star Dualogic (s/s) 3dr,NaN,"£11,999",Automatic,2019 (69 reg)
615,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,4571,Fiat 500 1.2 Lounge 3dr Dualogic Bluetooth,NaN,"£11,500",Automatic,2019 (19 reg)
616,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,6819,Fiat 500 3dr Hat 1.2 69hp Lounge,NaN,"£8,990",Manual,2019 (19 reg)
617,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,3616,Fiat 500 1.2 8V Lounge (s/s) 3dr,NaN,"£9,400",Manual,2019 (69 reg)
618,NaN,NaN,Hatchback,1.2L,NaN,https://www.autotrader.co.uk/car-details/20200...,1459,Fiat 500 Serie 8 Mild Hybrid Launch Edition 1....,NaN,"£12,490",Manual,2020 (69 reg)
619,68.0,ULEZ,Hatchback,1.0L,Petrol,https://www.autotrader.co.uk/car-details/20200...,1245,Fiat 500 3dr Hat Mhev 1.0 70hp Lounge,NaN,"£11,990",Manual,2020 (20 reg)
620,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,4104,Fiat 500 1.2 Lounge 3dr,NaN,"£9,299",Manual,2020 (69 reg)
621,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,2753,Fiat 500 1.2 Lounge 3dr,NaN,"£9,299",Manual,2020 (69 reg)
622,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,7092,Fiat 500 1.2L Lounge 8V 3dr,NaN,"£9,200",Manual,2020 (69 reg)
623,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,6044,Fiat 500 1.2L Lounge 8V 3dr,NaN,"£9,200",Manual,2020 (69 reg)
624,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,5030,Fiat 500 1.2L Lounge 8V 3dr,NaN,"£9,300",Manual,2020 (69 reg)
625,68.0,ULEZ,Hatchback,1.2L,Petrol,https://www.autotrader.co.uk/car-details/20201...,3106,Fiat 500 1.2L Lounge 8V 3dr,NaN,"£9,375",Manual,2020 (69 reg)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 12 columns):
BHP             469 non-null float64
ULEZ            617 non-null object
body            626 non-null object
engine          626 non-null object
fuel            625 non-null object
link            626 non-null object
mileage         626 non-null int64
name            626 non-null object
owners          34 non-null float64
price           626 non-null object
transmission    626 non-null object
year            626 non-null object
dtypes: float64(2), int64(1), object(9)
memory usage: 58.8+ KB

In [28]:
df.describe()

              BHP        mileage     owners
count  469.000000     626.000000  34.000000
mean   157.720682   27150.118211   2.264706
std     63.677983   18308.222440   0.567227
min     68.000000      10.000000   2.000000
25%    116.000000   14663.250000   2.000000
50%    148.000000   25153.500000   2.000000
75%    190.000000   35429.500000   2.000000
max    340.000000  124395.000000   4.000000

In [70]:
df.isna().sum()

BHP             157
ULEZ              9
body              0
engine            0
fuel              1
link              0
mileage           0
name              0
owners          592
price             0
transmission      0
year              0
dtype: int64

## Data cleaning

### Filling missing BHP
Tried to first replace with median value, however, need to use **a more sensible way of filling up this feature**

In [121]:
df_clean = df.copy()
df_clean["BHP"].fillna(df.BHP.median(), inplace=True)

### Filling ULEZ compliance

In [122]:
df_clean["ULEZ"].fillna("Non-ULEZ", inplace=True)

### Engine size parsing
Get rid of the Liter "L" and convert to float

In [123]:
df_clean["engine"] = df_clean["engine"].apply(lambda x: float(x[:-1]))

### Remove link

In [124]:
df_clean.drop(["link"], axis=1, inplace=True)

### Parsing name into multiple extra features

In [125]:
df_clean["make"] = df_clean["name"].apply(lambda x:x.split()[0])
df_clean["model"] = df_clean["name"].apply(lambda x:x.split()[1])

In [126]:
# diffentiate from "ECO", SE", "Sport", "M Sport", "Lux", Nav/Satellite", "Bluetooth",
# "Leather", "3-door", 
df_clean["se"] = df_clean["name"].apply(lambda x: 1 if "se" in x.lower() else 0)
df_clean["se"].value_counts()

1    384
0    242
Name: se, dtype: int64

In [127]:
# maybe too small/biased to be relevant
df_clean["eco"] = df_clean["name"].apply(lambda x: 1 if "eco" in x.lower() else 0)
df_clean["eco"].value_counts()

0    622
1      4
Name: eco, dtype: int64

In [128]:
df_clean["sport"] = df_clean["name"].apply(lambda x: 1 if "sport" in x.lower() else 0)
df_clean["sport"].value_counts()

1    380
0    246
Name: sport, dtype: int64

In [129]:
df_clean["m_sport"] = df_clean["name"].apply(lambda x: 1 if "m sport" in x.lower() else 0)
df_clean["m_sport"].value_counts()

0    443
1    183
Name: m_sport, dtype: int64

In [130]:
# maybe too small/biased to be relevant
df_clean["lux"] = df_clean["name"].apply(lambda x: 1 if "lux" in x.lower() else 0)
df_clean["lux"].value_counts()

0    620
1      6
Name: lux, dtype: int64

In [131]:
df_clean["sat_nav"] = df_clean["name"].apply(lambda x: 1 if "sat" in x.lower() or "nav" in x.lower() else 0)
df_clean["sat_nav"].value_counts()

0    522
1    104
Name: sat_nav, dtype: int64

In [132]:
df_clean["bluetooth"] = df_clean["name"].apply(lambda x: 1 if "bluetooth" in x.lower() else 0)
df_clean["bluetooth"].value_counts()

0    605
1     21
Name: bluetooth, dtype: int64

In [133]:
df_clean["leather"] = df_clean["name"].apply(lambda x: 1 if "leather" in x.lower() else 0)
df_clean["leather"].value_counts()

0    605
1     21
Name: leather, dtype: int64

In [134]:
df_clean["three_door"] = df_clean["name"].apply(lambda x: 1 if "3-door" in x.lower() else 0)
df_clean["three_door"].value_counts()

0    621
1      5
Name: three_door, dtype: int64

### Filling missing owners
Fill missing values with median value

In [135]:
df_clean["owners"].fillna(df.owners.median(), inplace=True)

### Parsing years

In [136]:
df_clean["year_reg"] = df_clean["year"].apply(lambda x: x.split("(")[1].replace(")",""))
df_clean["year"] = df_clean["year"].apply(lambda x: int(x.split("(")[0]))

### Parsing price

In [137]:
df_clean["price"] = df_clean["price"].apply(lambda x: int(x.replace("£","").replace(",","")))

### Parsing fuel

In [155]:
df_fuel = df_clean[df_clean.fuel.isna()]
df_fuel.make

618    Fiat
Name: make, dtype: object

In [158]:
df_fuel = df_clean[df_clean.make == "Fiat"]
df_fuel.fuel.value_counts()

Petrol    65
Name: fuel, dtype: int64

In [159]:
df_clean["fuel"].fillna("Petrol", inplace=True)

### Check and save

In [163]:
df_clean.drop(["name"], axis=1, inplace=True)
df_clean.head()

,BHP,ULEZ,body,engine,fuel,mileage,owners,price,transmission,year,...,se,eco,sport,m_sport,lux,sat_nav,bluetooth,leather,three_door,year_reg
0,108.0,ULEZ,Hatchback,1.6,Diesel,82850,2.0,7991,Manual,2015,...,1,0,0,0,0,1,1,0,0,15 reg
1,148.0,ULEZ,Hatchback,2.0,Diesel,38627,2.0,10980,Manual,2015,...,1,0,0,0,0,1,0,0,0,65 reg
2,108.0,ULEZ,Hatchback,1.6,Diesel,84812,2.0,8350,Manual,2015,...,0,0,1,0,0,1,0,0,0,15 reg
3,182.0,ULEZ,Hatchback,2.0,Diesel,74413,2.0,9699,Automatic,2015,...,0,0,1,0,0,0,0,0,0,15 reg
4,108.0,ULEZ,Hatchback,1.6,Diesel,59152,2.0,8990,Manual,2015,...,1,0,1,0,0,0,0,0,0,15 reg

In [164]:
df_clean.to_csv("autotrader_prices_cleaned.csv", index=False)